<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs')  %>

<body>
    <%- include('./partials/header.ejs')  %>


    <main class="container userProfileC">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg mt-16">
           <p>Hola <%= user.firstName %> </p> 
           <p>tu email : <%= user.email %> </p>
           <p>tu telefono es  : <%= user.tel %> </p>
           <p>Tus direcciones</p>
           <P><%= address.id %>  </P>
        </div>



    </main>

    <%- include('./partials/footer') %>

    <%- include('./partials/scripts.ejs')  %>
</body>

</html>