<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %> 
<body>
    <div class="contGral">
    <!-- HEADER -->
    <%- include('./partials/header') %> 
    <main>
        <!-- HOME -->
        <!-- Slider -->
        <<!-- div class="slider">
            <ul>
                <li><img src="/images/banner/banner.jpg" alt=""></li>
                <li><img src="/images/banner/banner2.jpg" alt=""></li>
                <li><img src="/images/banner/banner3.jpg" alt=""></li>
                <li><img src="/images/banner/banner4.jpg" alt=""></li>
                <li><img src="/images/banner/banner5.jpg" alt=""></li>
                <li><img src="/images/banner/banner6.jpg" alt=""></li>
                <li><img src="/images/banner/banner7.jpg" alt=""></li>
                <li><img src="/images/banner/banner8.jpg" alt=""></li>
                <li><img src="/images/banner/banner9.jpg" alt=""></li>
            </ul>
        </div>        -->
        <section class="video-presentation">
            <div class="sliderVideo 
            filter drop-shadow
            ">
                <video src="/slider video/barbanegraslider.mp4" autoplay muted loop></video>
            </div>
        </section>    
        <section class="machine-presentation-brand">
            <div class="new-machine-offert">
                <img class="newmachineoffert" src="/images/marca/wahl-home.jpg" alt="">
            </div>
        </section>
      
        <!-- Our offers -->
        <div class="sectionTitle">
            <h3>NUESTRAS OFERTAS!</h3>
        </div>


        <section class="cards">
        <% producto.forEach(producto => { %> 
            <article class="card-de card--1">

                <div class="card__info-hover">
                    <div class="card__offer-info">
                        <span class="card__discount"><%- producto.discount !== 0 ? `${producto.discount}%OFF`:"" %></span>
                    </div>
                </div>

                <div class="card__img"></div>
                <a href="/productos/detalle/<%- producto.id %> " class="card_link">
                    <div class="card__img--hover">
                        <img src="/images/productos/<%= producto.productImage.length > 0 ? producto.productImage[0].image : 'default-image.png'%>" alt="">
                    </div>
                </a>
                <div class="card__info">
                    <span class="card__brand"><%- producto.brand.name %></span>
                    <h3 class="card__by"><%- producto.name %></h3>
                    <span class="card__by">$<%- producto.price %>
                        <i class="fas fa-truck"></i>
                        <a href="/cart" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>


                    </span>
                </div>
            </article>
            <% }) %> 
        </section>

        <!-- Our offers end -->



        <!-- Popular brands-->
        
        <div class="popular-brands">
            <div class="text-center brand-header">
                <h3>TRABAJAMOS CON LAS MEJORES MARCAS</h3>
            </div>
            <div class="brands-grid">
                <img src="/images/LOGOS/logowahl.jpeg" alt="">
                <img src="/images/LOGOS/logots.jpeg" alt="">
                <img src="/images/LOGOS/logoBaby.jpeg" alt="">
                <img src="/images/LOGOS/TeknikPro_png.png" alt="">
                <img src="/images/LOGOS/logoJaguar.jpeg" alt="">
            </div>
        </div>

        <!-- Popular brand end -->

    

    <!-- HOME END -->

    <!-- FOOTER -->
    <%- include('./partials/footer') %> 
</main>
</div>
  <%- include('./partials/scripts') %> 
  
</body>

</html>