<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
    <%- include('./partials/head') %> 
<body>
    <!-- HEADER -->
    <%- include('./partials/header') %> 
    <main>
<% if ( locals.login  && login === 1)  { %>
  <div class="lcontainer">
<% }else{ %>
  <div class="lcontainer sign-up-mode">
  <% } %>
    
      <div class="forms-lcontainer">
        <div class="signin-signup">
          <form action="/users/login" method="POST" class="sign-in-form">
            <h2 class="title">Iniciar sesión</h2>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" name='email' placeholder="email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name='pass' placeholder="Contraseña" />
            </div>
            <div class="form-ad-input_check"> <!-- agrego check de recordar -->
              <input type="checkbox" name="remember" id="check-c">
              <label for="check">Recordar</label>
            </div>
            <input type="submit" value="Iniciar sesión" class="btn-log solid" />
            <p class="social-text">O inicie sesión con</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form> 

            <form action="/users/register" method="POST" class="sign-up-form">
              <h2 class="title">Registro</h2>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input name ="usuario" value="<%= locals.old && old.user %> " type="text" placeholder="Usuario" />
               </div>
               
               <% if (locals.errors && errors.user) { %>
                <small>
                  <%= errors.user.msg %> <!-- cambiar color de mensaje -->
                </small>
              <%}%>
              <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input name ="email" value="<%= locals.old && old.email %>" type="email" placeholder="Correo electrónico" />
              </div>
              <% if (locals.errors && errors.email) { %>
                <small>
                  <%= errors.email.msg %> <!-- cambiar color de mensaje -->
                </small>
              <%}%>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input name="pass" type="password" placeholder="Contraseña" />
              </div>
              <% if (locals.errors && errors.pass1) { %>
                <small><%= errors.pass1.msg %> </small>
            <% } %>
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input name="pass1" type="password" placeholder="Repetir Contraseña" />
              </div>          
              <a href="/users/profile"><input type="submit" class="btn-log" value="Sign up"/></a>          
              <p class="social-text">O inicie sesión con</p>
              <div class="social-media">
                <a href="#" class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-google"></i>
                </a>
                <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </form>

        </div>
      </div>

      <div class="panels-lcontainer ">
        <div class="panel left-panel">
          <div class="content">
            <h3>¿Nuevo aquí?</h3>
            <p>
              Unite a la comunidad BarberShop con un solo paso
            </p>
            <button class="btn-log transparent" id="sign-up-btn">
            Registrarme
            </button>
          </div>
          <img src="/img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>¿Ya es miembro?</h3>
            <p>
              Cada amigo nuevo es una nueva aventura! Comencemos.
            </p>
            <button class="btn-log transparent" id="sign-in-btn">
              Iniciar sesión
            </button>
          </div>
          <img src="/img/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>
  </main>  
    <script src="/javascript/script.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js"
    crossorigin="anonymous"></script>
  </body>
</html>
