<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body class="userProfile">
  <%- include('./partials/header') %>
  <main class="uProfile">
    <div class="uTitle text-center">
      <h4>Perfil de <%= user.firstName %> <%= user.lastName %> </h4>
    </div>
    <div class="wrapper text-black">
      <figure class="figureAvatar">
        <img id="userAvatar" src="/images/users/<%= user.image %>" alt="" width="200px" height="200px"
          class="rounded-circle avatar">
      </figure>
      <section class="personal-date text-center text-base sm:text-{sm}">
          <h1 class="first-name ">Tu nombre: <%= user.firstName %></h1>
          <h1 class="last-name">Tu apellido:<%= user.lastName %></h1>
          <h1 class="email">Correo Electronico : <%= user.email %></h1>
          <h1 class="tel">Telefono : <%= user.tel ? user.tel : "------" %></h1>
      </section>
      <section class="personal-date-adress text-center">
          <div class="container-address">
              Datos de Envio
          </div>
          <h1 class="street">Direccion : <%=  user.street ? user.street : "---------" %> </h1>
          <h1 class="street">Numeracion : <%=  user.number ? user.number : "---------" %> </h1>
          <h1 class="street">Codigo postal : <%=  user.postalCode ? user.postalCode : "---------" %> </h1>
          <h1 class="street">Provincia : <%=  user.province ? user.province : "---------" %> </h1>
      </section>
      <section class="edit-profile text-center m-5 ">
        <a href="/users/profile/edit/<%= user.id %> " class="bg-blue-400 font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-500 rounded-full py-3 px-6">
            Editar Perfil
        </a>
        <br>
        <br>
        <!-- <a href="/users/deleteUser/<%= user.id %>?_method=DELETE" method="POST" class="bg-blue-400 font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-500 rounded-full py-3 px-6">
          Eliminar Perfil
      </a> -->
      <form action="/users/deleteUser/<%= user.id %>?_method=DELETE" method="POST">
        <button id="deleteUserBtn" type="submit" class="bg-blue-400 font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-500 rounded-full py-3 px-6">Eliminar Perfil</button>
      </form>
      </section>
    </div>
  </main>
  <script src="/javascript/confirms.js"></script>
  <%- include('./partials/footer') %>
</body>

</html>