<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>
<body class="userProfile">
  <%- include('./partials/header') %>
  <main class="uProfile">
    <div class="uTitle text-center">
      <h4>Perfil de <%= user.firstName %> <%= user.lastName %> </h4>
    </div>
    <div class="wrapper text-black">
      <figure class="figureAvatar">
        <img id="userAvatar" src="/images/users/<%= user.image %>" alt="" width="200px" height="200px"
          class="rounded-circle avatar">
      </figure>
      <section class="personal-date text-center text-base sm:text-{sm}">
        <h2 id="titleUser">Datos Personales</h2>
         <h1 class="first-name" id="personal">Nombre :</h1>
         <p> <%= user.firstName ? user.firstName : "------" %> </p>
          <h1 class="last-name" id="personal">Apellido :</h1>
          <p><%= user.lastName ? user.lastName : "------" %></p>
          <h1 class="email" id="personal">Correo Electronico :</h1>
          <p> <%= user.email %></p>
          <h1 class="tel" id="personal">Teléfono :</h1> 
          <p><%= user.tel ? user.tel : "------" %></p>
      </section>
      <section class="personal-date-adress text-center">
          <div class="container-address">
              <h2 id="titleUser">Datos de Envío</h2>
          </div>
          <h1 class="street" id="shipping">Dirección :</h1>
          <p> <%=  user.street ? user.street : "------" %> </p>
          <h1 class="street" id="shipping">Numeración : </h1>
          <p><%=  user.number ? user.number : "------" %></p>
          <h1 class="street" id="shipping">Código postal :</h1>
          <p> <%=  user.postalCode ? user.postalCode : "------" %> </p>
          <h1 class="street" id="shipping">Provincia :</h1>
          <p> <%=  user.province ? user.province : "------" %> </p>
      </section>
      <section class="edit-profile text-center m-5 ">
        <a id="butUs" href="/users/profile/edit/<%= user.id %> " class="bg-blue-400 font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-500 rounded-full py-3 px-6">
            Editar Perfil
        </a>
        <br>
        <br>
        <!-- <a href="/users/deleteUser/<%= user.id %>?_method=DELETE" method="POST" class="bg-blue-400 font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-500 rounded-full py-3 px-6">
          Eliminar Perfil
      </a> -->
      <form action="/users/deleteUser/<%= user.id %>?_method=DELETE" method="POST">
        <button id="deleteUserBtn" type="submit" class="bg-blue-400 font-bold text-white px-4 py-3 transition duration-300 ease-in-out hover:bg-blue-500 rounded-full py-3 px-6">Eliminar Perfil</button>
      </form>
      </section>
    </div>
  </main>
  <script src="/javascript/confirms.js"></script>
  <%- include('./partials/footer') %>
</body>

</html>