<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
    <%- include('../partials/head') %> 
<body>
  <%- include('../partials/headerAdmin') %> 
</body>
<div>
<h1>LISTADO DE PRODUCTOS</h1>
</div>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="/admin/agregarProducto" class="btn btn-sm btn-outline-secondary">Agregar</a>
    </div>
  </div>
<div class="container p-4">
    <% products.forEach(producto => { %>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <%= producto.name %> / <%= producto.brand %>
                </div>
                <img src="/images/productos/<%= producto.image %>" class="card-img-top" alt="">             
                <div class="containerBtns">                    
                    <form action="/admin/eliminarproducto/<%= producto.id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-primary">Eliminar</button>
                    </form>
                    <form action="/admin/productos/editar<%= producto.id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-primary">Editar</button>
                    </form>
                  </div>
            </div>
        </div>
    <% }) %>
</div>

</html>