<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/headerAdmin.ejs')  %> 
    <main class="adminMain text-black">
        <form action="/admin/productos/editar/<%= productoAEditar.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h2>Editar producto</h2>
            <label for="inputName">Nombre </label>
            <input type="text" name="name" id="inputName" value='<%= productoAEditar.name %>'>
            <label for="inputBrand">Marca</label>
            <input type="text" name="brand" id="inputBrand" value="<%= productoAEditar.brand.name %>">
            <label for="inputPrice">Precio</label>
            <input type="text" name="price" id="inputPrice" value="<%= productoAEditar.price %>">
            <label for="inputDiscount">Descuento</label>
            <input type="text" name="discount" id="inputDiscount" value="<%= productoAEditar.discount %>">
            <div class=""> 
                <label for="categoryInput">Subcategorias</label>
                <br>
                <select class="form-select w-full" id="specificSizeSelect" name="subcategory">
                  <option selected hidden value=""><%- productoAEditar.subcategory.name %></option>
                 <% subcategory.forEach(subcategory => { %>
                    <option value="<%- subcategory.id %>" <%= locals.old && old.category == subcategory.id ? "selected" : "" %> ><%- subcategory.name %></option>
                 <% }) %>
                </select>
                <% if (locals.errors && errors.category) { %>
                    <small class="text-danger"><%= errors.category.msg %></small>
                <% } %>
            </div>
            <div class=''>
                <label for="categoryInput">Categorias</label>
                <br>
                <select class="form-select w-full" id="specificSizeSelect" name="subcategory">
                  <option selected hidden value=""><%- productoAEditar.subcategory.categoryId %></option>
                 <% category.forEach(category => { %>
                    <option value="<%- category.id %>" <%= locals.old && old.category == category.id ? "selected" : "" %> ><%-category.id %>:<%-category.name %></option>
                 <% }) %>
                </select>
                <% if (locals.errors && errors.category) { %>
                    <small class="text-danger"><%= errors.category.msg %></small>
                <% } %>
            </div>
            <label for="textDescription">Descripción</label>
              <textarea name="description" id="textDescription"><%= productoAEditar.description %></textarea>
              <figure class="text-center">
                <img id="userAvatar" src="/images/productos/<%= productoAEditar.productImage.length > 0 ? productoAEditar.productImage[0].image : 'default-image.png'%>" alt="" width="200px" height="200px"
                  class="rounded-circle avatar">
              </figure>
              <div class="">
                <label for="inputImage" class="form-label">Imagen</label>
                <input type="file" name="image" class="form-control" aria-label="file example" id="inputImage" multiple>               
            </div>
              <button type="submit" class="btn-log">
                GUARDAR
            </button>
        </form>
    
</section>
</main>
   
<%- include('../partials/scripts.ejs')  %> 
</body>
</html>