 <!DOCTYPE html>
 <html lang="es">
 <!-- HEAD -->
 <%- include('../partials/head') %>

 <body>
   <%- include('../partials/headerAdmin') %>
   <div>

     <main class="adminMain">
       <div class="admin-btn">
         <h1>LISTADO DE PRODUCTOS</h1>
         <button class="btn-log btn-admin"><a href="/admin/agregarProducto">Agregar</a></button>
       </div>
    <!--   <div class="live-search-bar container w-4/5 ">
        <input  class= 'search-bar text-black' type="text" id='live-search-bar'>
        <ul id='resultado-busqueda'>
          <li>
            
          </li>
        </ul>
      </div> -->


       <table class="tableAd">        
         <thead>
           <tr>
             <th>ID</th>
             <th>NOMBRE</th>
             <th>MARCA</th>
             <th>PRECIO</th>
             <th>DESCRIPCIÓN</th>
             <th>DESCUENTO</th>
             <th>SUBCATEGORÍA</th>
             <th>IMAGEN</th>
             <th>EDITAR</th>
             <th>BORRAR</th>
           </tr>

         </thead>
         <tbody>
           <% producto.forEach(producto => { %>            
           <tr id='results'>            
             <td data-label="ID"><%= producto.id %></td>
             <td id='name-product' data-label="NOMBRE"><%= producto.name %></td>
             <td data-label="MARCA"><%= producto.brand.name %></td>
             <td data-label="PRECIO">$<%= producto.price %></td>
             <td data-label="DESCRIPCIÓN">
               <% if(producto.description.length > 10) { %>
               <% let descriptionSlice = producto.description.slice(0,10) + "..." %>
               <%= descriptionSlice %>
               <% }else{ %>
               <%= producto.description %>
               <% } %></td>
             <td data-label="DESCUENTO"><%= producto.discount > 0 ? producto.discount : 0 %>%</td>
             <td data-label="SUBCATEGORÍA"><%= producto.subcategory.name %></td>
             <td data-label="Imagen"><img id='imagenAdmin'
                 src="/images/productos/<%= producto.productImage.length > 0 ? producto.productImage[0].image : 'default-image.png'%>"
                 alt=""></td>

             <!-- <td>
          <a href="/admin/eliminarproducto/<%= producto.id %>?_method=DELETE" method="POST">
            <button>ELIMINAR</button>
          </a> 
          <a href="/admin/productos/editar/<%= producto.id %>">
            <button>EDITAR</button></a>
          </a>
        </td> -->
             <td><a href="/admin/productos/editar/<%= producto.id %> "> <i class="fas fa-pen"></i></a></td>
             <form  action="/admin/eliminarProducto/<%- producto.id %>?_method=DELETE" method="POST" id='form-delete-admin'>
             <td class='form-delete' >
               
              <button   id="deleteUserBtn" type="submit" style="border: none; background: none;">
                <i class="fas fa-trash"></i>
              </button>
              </form>
            </td>

             
           </tr>
           <% }) %>
         </tbody>
       </table>
     </main>
   </div>
   <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">   
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
   <script src="/javascript/confirm-delete.js"></script>

 </body>
 
 </html>