<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs')  %>

<body>
    <%- include('../partials/headerAdmin.ejs')  %>
    <main class="adminMain text-black">
        <form action="agregarProducto" method="POST" enctype="multipart/form-data">
            <h2>Agregar producto</h2>
            <div>
            <label for="inputName">Nombre</label>
            <input type="text" name="name" id="inputName">
            <span class="error" id="productNameErrors"></span>
            </div>
            <div class=""> 
                <label for="brand">Marca</label>
                <br>
                <select class="form-select w-full" id="specificSizeSelect" name="brand">
                  <option selected hidden value=""><%- brand.name %></option>
                 <% brand.forEach(brand => { %>
                    <option value="<%- brand.id %>" <%= locals.old && old.brand == brand.id ? "selected" : "" %> ><%- brand.name %></option>
                 <% }) %>
                </select>
            </div>
            <div>
            <label for="inputPrice">Precio</label>
            <input type="text" name="price" id="inputPrice">
            <span class="error" id="priceErrors"></span>
            </div>
            <div>
            <label for="inputDiscount">Descuento</label>
            <input type="text" name="discount" id="inputDiscount">
            <span class="error" id="discountErrors"></span>
            </div>
            <div class="categories-subcategories-column grid  gap-4 grid-cols-2">
                 <div class=''>
                    <label for="categoryInput">Categorias</label>
                    <br>
                    <select class="form-select w-full" id="specificSizeSelect" name="category">
                      <option selected hidden value="">Categorias</option>
                     <% category.forEach(category => { %>
                        <option value="<%- category.id %>" <%= locals.old && old.category == category.id ? "selected" : "" %> ><%- category.name %></option>
                     <% }) %>
                    </select>
                    <% if (locals.errors && errors.category) { %>
                        <small class="text-danger"><%= errors.category.msg %></small>
                    <% } %>
                </div> 
    
                <div class=""> 
                    <label for="categoryInput">Subcategorias</label>
                    <br>
                    <select class="form-select w-full" id="specificSizeSelect" name="subcategory">
                      <option selected hidden value="">Subcategorias</option>
                     <% subcategory.forEach(subcategory => { %>
                        <option value="<%- subcategory.id %>" <%= locals.old && old.subcategory == subcategory.id ? "selected" : "" %> ><%- subcategory.name %></option>
                     <% }) %>
                    </select>
                    <% if (locals.errors && errors.category) { %>
                        <small class="text-danger"><%= errors.category.msg %></small>
                    <% } %>
                </div>
            </div>
            <div class="description-input">
                <label for="validationTextarea" class="form-label">Descripción</label>
                <textarea class="form-control" id="validationTextarea" name="description"><%= locals.old && old.description %></textarea>
                <span class="error" id="descriptionErrors"></span>
            </div>
            <div class="">
                <label for="inputImage" class="form-label">Imagen</label>
                <input type="file" name="image" class="form-control" aria-label="file example" id="inputImage" multiple>
                <% if (locals.errors && errors.image) { %>
                    <small class="text-danger"><%= errors.image.msg %> </small>
                <% } %>
            </div>
            <button type="submit" class="btn-log">AGREGAR</button>
        </form>

    </main>
    <script src="/javascript/addProductValidation.js"></script>
    <%- include('../partials/scripts.ejs')  %>
</body>

</html>