<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

<body>
    <!-- HEADER -->
    <%- include('./partials/header') %>

    <main>
        <div class="productos-main grid  grid-cols-5	auto-rows-auto">
            <div class="categoria-main col-span-5">
                <div class="dropdown w-full col-span-5">
                    <div tabindex="0" class="m-1 btn w-6/12">Productos</div>
                    <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-blue-400 rounded-box w-full">
                        <a href="#">
                            <li>
                                Ofertas
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                Maquinas
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                Tijeras
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                Equipamiento
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                Repuestos
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                Accesorios
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="categoria-columna-productos col-span-5">
                <section class="cards">
                    <% productsInSale.forEach(product => { %>
                    <article class="card card--1">

                        <div class="card__info-hover">
                            <div class="card__offer-info">
                                <span
                                    class="card__discount"><%- product.discount !== 0 ? `${product.discount}%OFF`:"" %></span>
                            </div>
                        </div>

                        <div class="card__img"></div>
                        <a href="/detalleProducto" class="card_link">
                            <div class="card__img--hover">
                                <img src="/images/productos/<%- product.image %>" alt="">
                            </div>
                        </a>
                        <div class="card__info bg-transparent">
                            <span class="card__brand"><%- product.brand %></span>
                            <h3 class="card__by"><%- product.name %></h3>
                            <span class="card__by"><%- product.price %>
                                <i class="fas fa-truck"></i>
                                <a href="/cart" class="card__cart" title="Cart"><i class="fas fa-cart-plus"></i></a>


                            </span>
                        </div>
                    </article>
                    <% }) %>

                </section>
            </div>
        </div>
    </main>
</body>
<%- include('./partials/footer') %>

</html>