<!DOCTYPE html>
<html lang="es">
    <!-- HEAD -->
    <%- include('../partials/head') %> 
<body>
  <%- include('../partials/headerAdmin') %> 
<main>  
</main>
</body>
<h1>listado de productos disponibles en base de de datos</h1>
<div class="container">
    <% dbParseado.forEach(producto => { %>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <%= producto.name %> / <%= producto.brand %>
                </div>
                <img src="/images/productos/<%= producto.image %>" class="card-img-top" alt="">             
                <div class="card-footer">
                    <button class="btn btn-danger">
                        eliminar
                    </button>
                    <button class="btn btn-primary">
                        editar
                    </button>
                </div>
            </div>
        </div>
    <% }) %>
</div>

</html>